body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f6fce9;
  color: black;
  margin: 0;
  padding: 0;
}

#main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 25px;
  background-color: #fffefa;
  border: 3px solid #d15f2a;
  border-radius: 8px;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: black;
  background-color: #f0e2c6;
  padding: 12px;
  border-bottom: 3px solid #a0522d;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
  background-color: #f6fce9;
  padding-left: 10px;
}

strong {
  color: red;
}

em {
  color: blue;
  font-style: italic;
}

img {
  margin: 20px auto;
  border: 2px solid orange;
  border-radius: 5px;
}

li {
  font-size: 1.1em;
}

ol {
  font-size: 1.3em;
  color:darkgreen;
  text-align: center;
  list-style-position: inside;
  background-color: #f5efe3;
  padding: 9px;
  margin: 18px 0;
  text-align: center;
  border: 1px dashed #a0522d;
  border-radius: 6px;
}

.links a {
  color: #0054a8;
  font-weight: bold;
  text-decoration: underline;
}

.jetzt {
  font-size: 1.2em;
  line-height: 1.7em;
  background-color: #f6fce9;
  border: 1px solid darkgreen;
  border-radius: 6px;
  padding-left: 8px;
  margin: 21px 0;
}

.bilder {
  background-color: #f5efe3;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  border: 1px dashed #a0522d;
  border-radius: 6px;
}

.heil img{
  margin: 20px 1;
}